<div class="hp__slide">
  <div class="inner_hp__slide">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= @challenges.first.name %><br>
          <%= @challenges.first.description %>
        </div>
        <div class="carousel-item">
          <%= @challenges.name %>
        </div>
        <div class="carousel-item">
          <%= @challenges.last.name %><br>
          <%= @challenges.last.description%>
        </div>
      </div>
    </div>
    <div class="choose-content">
      <div class="col-6">
        <h5><%= t('challenge_in_progress')%></h5>    
        <%= link_to t('discover'), challenges_path %>
      </div>
      <div class="col-6">
        <h5><%= t('categories_in_progress')%></h5>
        <%= link_to t('discover'), categories_path %>
      </div>
    </div>
  <div>
</div>